@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
  margin: 0;
  font-family: "Lato";
}

body {
  background: linear-gradient(rgb(192, 192, 192), rgb(253, 253, 253));
}

header {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > h1 {
  color: aliceblue;
  font-size: 25px;
}

header > img {
  height: 50%;
  border-radius: 10px;
}

header > a > button {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

header > a > button:hover {
  background-color: #6d6d6d;
  border-color: aqua;
}

.Intro {
  background-color: #1e1e24ee;
  margin: 30px 30px;
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.subsection {
  height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 0px 30px;
  margin-bottom: 50px;
  background: #1e1e24ee;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subsection > div {
  text-align: center;
}

.leftproject {
  border-radius: 20px;
  background: url(/icons/ProjectIcon.png) no-repeat;
  background-size: 25%;
  background-position: center;
  filter: invert(60%);
}

.centre {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
}

.rightproject {
  border-radius: 20px;
  background: url(/icons/ProjectIcon.png) no-repeat;
  background-size: 25%;
  background-position: center;
  transform: scaleX(-1);
  filter: invert(60%);
}

.leftskill {
  border-radius: 20px;
  background: url(/icons/SkillsetIcon.png) no-repeat;
  background-size: 25%;
  background-position: center;
  filter: invert(60%);
}

.rightskill {
  border-radius: 20px;
  background: url(/icons/SkillsetIcon.png) no-repeat;
  background-size: 25%;
  background-position: center;
  transform: scaleX(-1);
  filter: invert(60%);
}

.leftcertification {
  background-color: #1e1e24;
  border-radius: 20px;
  background: url(/icons/CertificationIcon.png) no-repeat;
  background-size: 20%;
  background-position: center;
  filter: invert(60%);
}

.rightcertification {
  background-color: #1e1e24;
  border-radius: 20px;
  background: url(/icons/CertificationIcon.png) no-repeat;
  background-size: 20%;
  background-position: center;
  transform: scaleX(-1);
  filter: invert(60%);
}

.leftcontact {
  background-color: #1e1e24;
  border-radius: 20px;
  background: url(/icons/ContactIcon.png) no-repeat;
  background-size: 20%;
  background-position: center;
  filter: invert(60%);
}

.rightcontact {
  background-color: #1e1e24;
  border-radius: 20px;
  background: url(/icons/ContactIcon.png) no-repeat;
  background-size: 20%;
  background-position: center;
  transform: scaleX(-1);
  filter: invert(60%);
}

.button {
  padding: 20px 40px;
  border-radius: 20px;
  position: relative;
  margin: auto auto;
  font-weight: 800;
  font-size: 12px;
  cursor: pointer;
  border-width: 5px;
  color: aliceblue;
  border-color: #313a3f;
  background: radial-gradient(#1e1e24, #1e1e24);
  text-transform: capitalize;
  transition: 0.5s ease;
}

button:hover {
  background: rgba(88, 87, 87, 0.3);
  color: aliceblue;
  border-color: aqua;
}

.subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  height: 100px;
  background-color: #1e1e24;
  position: relative;
  display: flex;
  align-items: center;
}

footer > a {
  position: absolute;
  left: 30px;
}

footer > a > button {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

footer > h1 {
  font-size: 15px;
  position: absolute;
  right: 30px;
  color: aliceblue;
}
