@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    rgba(110, 110, 110, 0.5),
    rgba(192, 192, 192, 0.1)
  );
}

header {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > h1 {
  color: aliceblue;
  font-family: "Lato";
  font-size: 25px;
}

img {
  height: 40px;
}

header > img {
  filter: invert(30%);
}

header > a > button {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0);
}

header > a > button > img {
  background-color: rgba(255, 255, 255, 0);
  filter: invert(60%);
}

header > a > button:hover {
  border-color: aqua;
}

.section {
  min-height: 200px;
  margin: 20px 20px;
  background-color: #1e1e24ee;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.section > img {
  padding: 10px;
  height: 200px;
  border-radius: 20px;
}

.section > p {
  color: aliceblue;
  padding: 20px 20px;
  font-family: "Lato";
  text-align: justify;
  letter-spacing: 0.5px;
}

.skills {
  display: flex;
}

.skills > div {
  width: 50%;
  margin: 0 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.skills > div > h1 {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: "Lato";
  font-size: 25px;
}

.accordion {
  font-family: "Lato";
  width: 100%;
  font-size: 15px;
  background-color: #1e1e24ee;
  color: aliceblue;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.accordion::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion--active {
  background-color: #65657eee;
}

.accordion--active::after {
  content: "\25b4";
  float: right;
  transform: scale(1.5);
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 0.3s;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #1e1e24ee;
  color: aliceblue;
  font-family: "Lato";
  position: relative;
}

.accordionContent > li {
  position: relative;
  left: 20px;
  padding: 10px 0;
}

.accordion:hover {
  border-color: aqua;
}

footer {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  color: aliceblue;
}
