@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
  margin: 0;
}
.container {
  max-width: 700x;
  margin: 0 0;
  /* background: linear-gradient(to right, #00000085, #81818185, #00000085); */
  display: block;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

a {
  color: aliceblue;
  text-decoration: none;
}

.Miotag {
  background: url("/gifs/MioTag.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.SoundFollow {
  background: url("/gifs/SoundFollower.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.WifiMonitor {
  background: url("/gifs/WifiMonitor.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.MoonOrbit {
  background: url("/gifs/MoonOrbit.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

p {
  padding: 30px 50px;
  font-family: "Lato";
  text-transform: capitalize;
  font-size: 25px;
  margin: auto auto;
}

.header {
  height: 150px;
  width: 100%;
  color: #f9f9f9;
  display: grid;
  text-align: center;
  background: #1e1e24;
}

.button {
  margin: auto auto;
  font-family: "Lato";
  color: rgba(255, 255, 255);
  height: 20%;
  font-size: 25px;
  border-radius: 20%;
  border-color: rgba(77, 77, 77, 0.5);
  border-width: 5px;
  background-color: #000000e7;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: aliceblue;
}

img {
  height: 50px;
  margin: auto auto;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background: linear-gradient(#7c7c7c, white, #7c7c7c);
  border: solid;
  border-width: 10px;
  border-radius: 10px;
  height: 150px;
  border-color: rgba(77, 77, 77, 0.5);
}

h1 {
  margin: auto auto;
  font-family: "Lato";
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 5px;
}
