@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

header {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > h1 {
  color: aliceblue;
  font-family: "Lato";
  font-size: 25px;
}

header > a > button {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0);
}

header > img {
  height: 40px;
  padding: 0;
}

header > a > button > img {
  background-color: rgba(255, 255, 255, 0);
  filter: invert(60%);
}

header > a > button:hover {
  border-color: aqua;
}

.Miotag {
  background: url("/gifs/MioTag.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.SoundFollow {
  background: url("/gifs/SoundFollower.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.WifiMonitor {
  background: url("/gifs/WifiMonitor.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

.MoonOrbit {
  background: url("/gifs/MoonOrbit.gif") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  display: grid;
}

p {
  padding: 30px 50px;
  font-family: "Lato";
  text-transform: capitalize;
  font-size: 25px;
}

.button {
  font-family: "Lato";
  color: rgba(255, 255, 255);
  font-size: 25px;
  border-radius: 20px;
  border-color: rgba(77, 77, 77, 0.5);
  border-width: 2px;
  padding: 30px 10px;
  background-color: #000000e7;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgba(95, 95, 95, 0.616);
  color: aliceblue;
  border-color: aqua;
}

img {
  height: 40px;
}

.banner {
  display: flex;
  background: linear-gradient(#7c7c7c, white, #7c7c7c);
  border-top: rgb(0, 0, 0) double;
  border-bottom: rgb(0, 0, 0) double;
  border-width: 10px;
  border-radius: 10px;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  align-items: center;
  position: relative;
}

footer > a {
  position: absolute;
  left: 30px;
}

footer > a > button {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0);
  font-family: "Lato";
  font-weight: bold;
  cursor: pointer;
  color: aliceblue;
  padding: 5px;
  transition: 0.5s ease;
}

footer > a > button:hover {
  color: aliceblue;
  border-color: aqua;
}

footer > h1 {
  color: aliceblue;
  font-family: "Lato";
  font-size: 15px;
  position: absolute;
  right: 30px;
}

.backbutton {
  transition: 0.5s ease;
  background-color: aliceblue;
}

.backbutton > img {
  height: 40px;
}

.backbutton:hover {
  background-color: rgb(112, 112, 112);
  color: aliceblue;
  border-color: aqua;
}

.banner > p {
  font-weight: 800;
}
