@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aliceblue;
}

header {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > h1 {
  color: aliceblue;
  font-family: "Lato";
  font-size: 25px;
  text-align: center;
}

header > a > button {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0);
}

header > a > button > img {
  background-color: rgba(255, 255, 255, 0);
  filter: invert(60%);
}

header > a > button:hover {
  border-color: aqua;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout > img {
  width: 60%;
  height: auto;
  padding: 50px;
  border-radius: 80px;
}

.layout > a > button {
  margin-bottom: 50px;
  font-weight: bold;
}

p {
  padding: 30px 50px;
  font-family: "Lato";
  text-transform: capitalize;
  font-size: 25px;
}

.button {
  font-family: "Lato";
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 20px;
  border: black double;
  padding: 40px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgba(146, 146, 146, 0.616);
  color: aliceblue;
  border-color: aqua;
}

img {
  height: 40px;
}

.banner {
  display: flex;
  background: rgb(216, 237, 255);
  border-top: rgb(0, 0, 0) double;
  border-bottom: rgb(0, 0, 0) double;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  height: 100px;
  background-color: #1e1e24;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer > a > button {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0);
  font-family: "Lato";
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: aliceblue;
  padding: 5px;
  transition: 0.5s ease;
}

footer > a > button:hover {
  color: aliceblue;
  border-color: aqua;
}

footer > h1 {
  color: aliceblue;
  font-family: "Lato";
  font-size: 15px;
}

.backbutton {
  transition: 0.5s ease;
  background-color: aliceblue;
}

.backbutton > img {
  height: 40px;
}

.backbutton:hover {
  background-color: rgb(112, 112, 112);
  color: aliceblue;
  border-color: aqua;
}

.banner > p {
  font-weight: 800;
}
